<nav class="navbar is-black">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="./assets/img/logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" style="cursor: pointer;" routerLink="/">
        Posts (home)
      </a>
      <a class="navbar-item" style="cursor: pointer;" routerLink="/users">
        Users
      </a>
    </div>
  </div>
</nav>
